.navbar{
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #34C94B;
  padding: 20px 0px 20px 0px;
}
.search{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search button img{
  width: 20px;
  height: 20px;
}
.search button{
  padding: 6px !important;
  border-radius: 0 5px 5px 0;
}
.feedbackBtn{
  background-color: #121212;
  color: #34C94B;
  border-radius: 5px;
}
input{
  border-radius: 5px 0 0 5px;

}
input, button{
  border: 1px solid;
  padding: 10px;
  
}